<body>
<header>
    <h1 data-text="red wins!">red wins!</h1>
    <div>
        <a href="https://gameofcheckers.000webhostapp.com/" style="margin:auto; text-align:center; display:block;"
           class="button large hpbottom"><button>Play again</button></a>
        </a>
    </div>
</header>
<main>

<style>
    @import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #141E30;
        background: linear-gradient(to right, #24243e, #141E30, #0f0c29); }

    h1 {
        text-transform: Uppercase;
        margin-bottom: .5em;
        font-family: 'Rubik', sans-serif;
        font-size: 6rem;
        color: #E4E5E6; }

    h1 {
        position: relative;
        background: linear-gradient(to right, #F72A1D, #F72A1D, #F72A1D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }

    h1:before,
    h1:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0; }

    h1:before {
        z-index: -1;
        text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)}

    h1:after {
        z-index: -2;
        text-shadow: 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
        mix-blend-mode: multiply; }

    h2 {
        margin-top: -1.15em;
        font-family: 'Pirata One', cursive;
        font-size: 3rem;
        color: #F7971E;
        text-align: center;}

    h2 spam {
        font-size: .5em;
    }



</style>
</main>

</body>

